[submodule "custom/themes/powerlevel9k"]
	path = custom/themes/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "custom/custom/themes/powerlevel10k"]
	path = custom/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
